@model MvcGarage2.Models.VehiclePriceViewModel

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParkedVehicle.Member.Name)
    </dt>
    <dd class="col-sm-9">
        <a asp-controller="Members" asp-action="Details" asp-route-id="@Model.ParkedVehicle.MemberId">
            @Html.DisplayFor(model => model.ParkedVehicle.Member.Name)
        </a>
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParkedVehicle.RegistrationNumber)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParkedVehicle.RegistrationNumber)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParkedVehicle.Brand)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParkedVehicle.Brand)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParkedVehicle.VehicleModel)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParkedVehicle.VehicleModel)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParkedVehicle.NumberOfWheels)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParkedVehicle.NumberOfWheels)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParkedVehicle.StartTime)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParkedVehicle.StartTime)
    </dd>
    <dt class="col-sm-3">
        Kostnad att debitera
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.CurrentPrice)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParkedVehicle.VehicleType)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParkedVehicle.VehicleType.Type)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParkedVehicle.Color)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParkedVehicle.Color)
    </dd>
</dl>