@model MvcGarage2.Models.VehiclePriceViewModel
@{Layout = "_Layout";}

@{
    ViewData["Title"] = "Kvitto";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Avslutad parkering</h4>
    <h3>@DateTime.Now</h3>
    <strong>
        Betalt @{Write($"{Model.CurrentPrice:C2}");}
  


    </strong>
    <hr />

    <dl class="row">
        <dt class="col-sm-4 table-responsive-md">
            @Html.DisplayNameFor(model => model.ParkedVehicle.RegistrationNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ParkedVehicle.RegistrationNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Brand)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ParkedVehicle.Brand)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Member.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ParkedVehicle.StartTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ParkedVehicle.StartTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Color)
        </dt>
        <dd class="col-sm-8 table-responsive-md">
            @Html.DisplayFor(model => model.ParkedVehicle.Color)
        </dd>
    </dl>
</div>
<partial name="_BackToIndexPartial" />
