@model IEnumerable<MvcGarage2.Models.Member>

@{
    ViewData["Title"] = "Medlemmar";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><input value="Ny medlem" class="btn btn-primary btn-lg" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Medlemsnummer
            </th>
            <th>
                Antal aktiva parkeringar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedVehicles.Count)
            </td>
            <td>
                <partial name="_MemberActionButtons" model=" item.Id" />
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
