@model IEnumerable<MvcGarage2.Models.Member>

@{
    ViewData["Title"] = "Medlemmar";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Index" method="post">
    <div class="row">

        <div class="col-sm-4 form-group">
            <input type="text" name="searchString" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Name)">
        </div>
        <div class="col-sm-2 form-group">
            <input type="submit" value="Sök" class="btn btn-outline-success" />
        </div>

        <div class="col-sm-6">
            <a asp-action="Create"><input value="Skapa ny medlem" class="btn btn-primary" /></a>
        </div>
    </div>
</form>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Medlemsnummer
            </th>
            <th>
                Antal aktiva parkeringar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkedVehicles.Count)
                </td>
                <td>
                    <partial name="_MemberActionButtons" model=" item.Id" />
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
