@model IEnumerable<MvcGarage2.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Start";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><input value="Parkera nytt fordon" class="btn btn-primary btn-lg" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleModel)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-danger">Avsluta parkering</button></a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-info">Detaljer</button></a>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-secondary">Redigera</button></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
