@model IEnumerable<MvcGarage2.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Start";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><input value="Parkera nytt fordon" class="btn btn-primary btn-lg" /></a>
</p>



<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="visible-md visible-lg">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["RegSortParm"]">@Html.DisplayNameFor(model => model.RegistrationNumber)</a>
                </th>


                @*<th>
                        @Html.DisplayNameFor(model => model.RegistrationNumber)
                    </th>*@
                <th class="visible-md visible-lg">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["BrandSortParam"]">@Html.DisplayNameFor(model => model.Brand)</a>
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>*@
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleModelSortParam"]">@Html.DisplayNameFor(model => model.VehicleModel)</a>
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.VehicleModel)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.NumberOfWheels)
                    </th>*@
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.StartTime)</a>
                </th>


                @*<th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.VehicleType)
                    </th>*@
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ColorSortParam"]">@Html.DisplayNameFor(model => model.Color)</a>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="visible-md visible-lg">
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td class="visible-md visible-lg">
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        <partial name="_ActionButtons" model=" item.Id" />

                        @*<div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" role="button">Avsluta parkering</a>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" role="button">Detaljer</a>
                                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id" role="button">Redigera</a>
                            </div>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

