@model IEnumerable<MvcGarage2.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Start";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><input value="Parkera nytt fordon" class="btn btn-primary btn-lg" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RegSortParm"]">@Html.DisplayNameFor(model => model.RegistrationNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BrandSortParam"]">@Html.DisplayNameFor(model => model.Brand)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleModelSortParam"]">@Html.DisplayNameFor(model => model.VehicleModel)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.StartTime)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ColorSortParam"]">@Html.DisplayNameFor(model => model.Color)</a>
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <input type="button" value="Avsluta parkering" class="btn btn-danger" /></a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <input type="button" value="Detaljer" class="btn btn-info" /></a>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <input type="button" value="Redigera" class="btn btn-secondary" /></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
