@model MvcGarage2.Models.VehiclePriceViewModel
@{Layout = "_ReceiptLayout";}

@{
    ViewData["Title"] = "Kvitto";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Avslutad parkering</h4>
    <h3>@DateTime.Now</h3>
    <h3>@Model.CurrentPrice</h3>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.VehicleModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.VehicleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Color)
        </dd>
    </dl>
</div>
<partial name="_BackToIndexPartial" />
