@model IEnumerable<MvcGarage2.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Sökning";
}

<article class="container-fluid">
    <header>
        <h1>Sök parkerat fordon</h1>
        <br />
    </header>

    <form asp-action="Search" method="get">
        <div class="row">
            <span class="col-sm-5">
                <label class="control-label">@ViewData["Title_Reg"]</label>
                <input name="@ViewData["Title_Reg"]" class="form-control" value="@ViewData["RegNbr"]" />
            </span>
            <span class="col-sm-2 text-right">
                <input type="submit" value="Sök fordon" class="btn btn-primary" style="bottom: 0; position: absolute;" />
            </span>
            <div class="col-sm-12">
                <span asp-validation-for="@ViewData["Title_Reg"]" class="text-danger"></span>
            </div>
        </div>
        <br />
    </form>

    @if (@Model != null)
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </th>
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["BrandSortParam"]">@Html.DisplayNameFor(model => model.Brand)</a>
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleModelSortParam"]">@Html.DisplayNameFor(model => model.VehicleModel)</a>
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.VehicleModel)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.NumberOfWheels)
                </th>*@
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.StartTime)</a>
                </th>*@


                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6"> <center> Inget fordon hittas!</center> </td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleModel)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.NumberOfWheels)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" role="button">Avsluta parkering</a>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" role="button">Detaljer</a>
                                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id" role="button">Redigera</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    }
</article>
